* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar{
    background: transparent;
}

.navbar-brand {
  font-size: 2rem;
  color: black;
  font-family: 'Dancing Script';
}

.navbar-brand:hover {
  color: black;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
  text-transform: uppercase;
  font-family: 'Tilt Prism', cursive;
}

.nav-link:hover {
  color: black;
}

.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  margin-right: -35px;
  border: 2px solid black;
}

.btno {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background: black;
  color: white;
  border-radius: 60px;
  font-weight: 700;
}



.main{
    background: url(home.avif);
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}

.main h1{
    font-size: 4rem;
    font-weight: 700;
}

.start{
    margin-top: 110px;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(156, 209, 198);
    color: white; 
    font-weight: 700;
    border-radius: 60px;

}

.btn1:hover{
    background-color: black;
    transition: 0.5s;
}


h1{
    font-weight: 700 ;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
}

.card-body{
    padding: 0.5rem !important;
}

.apple{
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.6) ) ,url(4.avif) no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.apple h1{
    font-family: 'Lobster',cursive;
}

.news{
    background-color: black;
    color: white;
}

.btn2{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;  
}

.news input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;
}

.news::placeholder{
    color: white;
}

.news p{
    margin: 0;
}

.fa-brands{
    font-size: 2rem;
    cursor: pointer;
    padding-right: 5px;
}